doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript')
      $(function() {
        var socket = io.connect('http://192.168.211.134:3000');

        var i = 1;

        socket.on('message', function(message){
          $("#message").html(message + '<br>');
        });
        socket.on('disconnect', function(message){
          $("#message").append('切断されました');
        });
      });
  body
    block content