doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript')
      $(function() {
        var socket = io.connect('http://timebombsquad.herokuapp.com');

        var i = 1;

        socket.on('message', function(message){
          var json = jQuery.parseJSON(message);
          var html = '';
          jQuery.each(json, function(key, data) {
             html += data.name + ': '  + data.data  + '<br />';
          });
          $("#message").html(html + '<br>');
        });
        socket.on('disconnect', function(message){
          $("#message").append('disconnected');
        });
      });
  body
    block content